<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'search' %}" method="POST" >
        {% csrf_token %}
        <div class="container d-flex flex-nowrap">
            <select name="select" id="select">
                <option value="title">Title</option>
                <option value="course">Curso</option>
                <option value="author">Author</option>
                <option value="coadivisor">Coadivisor</option>
            </select>
          <input type="text" class="form-control" name="search"  placeholder="Search" id="input-pesquisa">
          <button class="btn btn-dark" type="submit" id="botao-pesquisa"> <img src="" alt="icone-lupa" id="lupa">
          </button>
        </div>
    </form>
      <p>{{monograph.title}}</p>
      <p>{{monograph.course}}</p>
      <p>{{monograph.university}}</p>
      <p>{{monograph.key_words}}</p>
      <p>{{monograph.abstract}}</p>
      <p>{{monograph.fk_id_author}}</p>
      <p>{{monograph.fk_advisor}}</p>
      <p>{{monograph.fk_co_advisor}}</p>
</body>
</html>