
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block 'head' %}
      <link rel="stylesheet" href="{% static '/pages/css/home.css' %}">
    {% endblock %}
</head>
<body>
{% block 'body' %}

    <div class="container-fluid d-flex flex-wrap justify-content-center mt-5">
      <form action="{% url 'search' %}" method="POST" >
          {% csrf_token %}
          <div class="d-flex">
              <select class="form-select" name="select" id="select">
                  <option value="title">Title</option>
                  <option value="course">Course</option>
                  <option value="university">University</option>
                  <option value="abstract">Abstract</option>
                  <option value="keywords">Key Words</option>
                  <option value="author">Author</option>
                  <option value="advisor">Advisor</option>
                  <option value="coadvisor">Coadvisor</option>
              </select>
            <input class="form-control" type="text" class="" name="search"  placeholder="Search" id="input-search">
            <button class="btn btn-primary" type="submit" id="btn-search"> <img src="{% static '/pages/img/lupa.png' %}" alt="icone-lupa" id="lupa">
            </button>
          </div>
      </form>
    </div>

    <div class="result-search mt-5 d-flex justify-content-center">
      <div class="d-flex justify-content-start">
        {% for monograph in monographs %}
        <p>
          <a  href="{% url 'details' pk=monograph.pk %}">{{monograph.title}}</a>
        </p>
        {% endfor %}
        <p>{{message}}</p>
      </div>
    </div>

{% endblock %}

</body>
</html>