{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  {% block 'body' %}

    <div class="container mt-5">
      {% for monograph in monographs %}
        <p> <strong>Title</strong> {{monograph.title}}</p>
        <p> <strong>Course</strong> {{monograph.course}}</p>
        <p> <strong>University</strong> {{monograph.university}}</p>
        <p> <strong>Key words</strong> {{monograph.key_words}}</p>
        <p> <strong>Abstract</strong> {{monograph.abstract}}</p>
        <p> <strong>Author</strong> {{monograph.fk_id_author}}</p>
        <p> <strong>Advisor</strong> {{monograph.fk_advisor}}</p>
        <p> <strong>Co-adivisor</strong> {{monograph.fk_co_advisor}}</p>
        <a class="btn btn-danger" href="{% url 'delete' pk=monograph.pk %}">Apagar</a>
      {% endfor %}
    </div>

  {% endblock %}

</body>
</html>