<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% for monograph in monographs %}
    <p>{{monograph.title}}</p>
    <p>{{monograph.course}}</p>
    <p>{{monograph.university}}</p>
    <p>{{monograph.key_words}}</p>
    <p>{{monograph.abstract}}</p>
    <p>{{monograph.fk_id_author}}</p>
    <p>{{monograph.fk_advisor}}</p>
    <p>{{monograph.fk_co_advisor}}</p>
  {% endfor %}
</body>
</html>